body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-item {
  list-style: none;
  display: flex;
  align-self: right;
}

.not-link:hover  {
  cursor:pointer;
  color: orangered;
}

.black { 
  background-color: orangered;
}
.white {
  background-color: SeaShell;
}

.options{ 
  background-color: yellow;
}
.currentlyselected { 
  background-color: green;
}

#caller {
  text-align: center;
  font-size: 40px;
  font-family: Poppins;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.moves-container {
  padding: 10px;
  margin-top: 20px;
}
.moves {
  text-align: center;
  margin-top: 20px;
}
.flex-child  {
  flex: 1;
}  
.moves-title {
  font-size: 20px;
} 


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.form1 {
  text-align: center; 
}

.center-form {
  text-align: center;
  padding: 20px;
}

.profile {
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.login {
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding-top: 100px;
  background-color: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

#choose-hidden {
  display: none
}

#choose {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  height: 200px;
  width: 500px;
  background-color: white;
  transform: translate(-50%, -50%);
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
 }

 .choose-text {
   font-size: 30px;
   padding: 30px;
   padding-bottom: 10px;
 }

 .promotion--button {
  margin: 20px;
  font-size: 50px;

} 

.statistic--word {
  margin: 10px;
  font-size:12px;
  padding: 5px;
}

.sidebar-option {
  cursor:pointer;
  list-style: none;
  display: flex;
}

.sidebar-option:hover {
  color: orangered;
}

.link{
  cursor:pointer;
  color: black;
  text-decoration: none;
}

.link:hover{
  cursor:pointer;
  color: orangered;
  text-decoration: none;
}

.buttons--field {
  display: flex;
  padding: 20px;
  align-items: right;
}

.buttons--item {
 flex: 1;
 text-align: center;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 50%;
    min-width: 800px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  } 
}

@media (max-width: 768px) {
  .flex-container {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .flex-container {
    text-align: center;
    display: flex;
  }
  }

  @media (min-width: 768px) {
  .navbar {
    display: flex;
    padding-left:20px;
    margin-bottom: 20px;
    padding-right: 20px;
    font-size: 20px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    padding-left:20px;
    margin-bottom: 20px;
    padding-right: 20px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .sidebar {
    padding-top: 20px;
    max-width: 250px;
    min-height: 500px;
    min-width: 200px;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(209, 156, 156, 0.1);
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 768px) {
  .sidebar > div {
    margin: 2%;
  }
}

@media (max-width: 768px) {
  table {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .statistic--num {
    padding: 5px;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .profile:first-child  {
    margin: 50px;
    font-size: 10px;
    color: #4CAF50;
  }
}

@media (max-width: 768px) {
.game {
  align-items: center;
  display: flex;
  padding-left: 10px;
  height: 80px;
  padding-right: 10px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .game {
    align-items: center;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    height: 100px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    }
  }

@media (max-width: 768px) {
  .statistics {
    padding-left: 10px;
    position: relative;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    }
  }
    
@media (min-width: 768px) {
  .statistics {
    align-items: center;
    display: flex;
    padding-left: 40px;
    height: 100px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    }
  }  

.all-statistics-num {
  display: flex;
  align-items: center;
  justify-content: center;
}


.buttons--item {
  flex: 1;
  text-align: center;
}


@media (min-width: 768px) {
  .stat {
    flex-grow: 1;
    flex-basis: 0;
    margin: 1px;
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .stat {
    flex-grow: 1;
    flex-basis: 0;
    margin: 1px;
    font-size: 3vw;
  }
}


.nav-filler {
  text-align: right;
  align-self: flex-end;
  padding: 10px;
  flex-grow: 8;
  flex-basis: 0;
}

.nav-item {
   padding: 10px;
   flex-grow: 1;
   flex-basis: 0;
}

@media (min-width: 768px) {
  .field { 
    height: 80px;
    width: 80px;
    font-size: 5px;
    text-align: "center"
  } 
}

@media (min-width: 768px) {
  .internal--piece {
    font-size: 55px
  }
}

@media (max-width: 768px) {
  .internal--piece {
    font-size: 9vw;
  }
}

@media (max-width: 768px) {
  .field {
    height: 10vw;
    width: 10vw;
  }
}


@media (max-width: 768px) {
.statistic--word {
  flex-grow: 1;
  flex-basis: 0;
  margin: 1px;
  font-size: 3vw;
  }
}

@media (min-width: 768px) {
  .statistic--word {
    margin: 10px;
    font-size:12px;
    padding: 5px;  
  }
}

@media (min-width: 768px) {
  .statistic--num {
    padding: 5px;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .statistic--num {
    flex-basis: 0;
    margin: 1px;
    font-size: 5vw;
  }
}

@media (max-width: 768px) {
  .some-page-wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .moves {
    display: none;
    padding-left: 20px;
  }
}
